/* LoginForm.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* height: 100vh; */
  background-color: #000a13;
  height: 100vh; /* You must set a specified height */
}

.register-form {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000a13;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 4px 0px 30px 2px rgb(72, 71, 71);
}

.register-form h2 {
  text-align: center;
  color: #dba570;
}

/* .inp-group {
  width: 250px;
  margin-bottom: 20px;
} */

.inp-group {
  width: 250px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #dba570;
  border-radius: 20px;
  background-color: #000a13;
}

.reg-button {
  width: 150px;
  padding: 15px 10px;
  background-color: #dba570;
  color: #000a13;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  /* margin-left: 10px; */
}

.reg-button:hover {
  opacity: 0.8;
}

.reg-button:active {
  background-color: #222;
}
